.jumbotron {
  background-image: url("images/notetaking.jpg");
  background-size: cover;
  height: 100%;
  margin-bottom:0px;
}
.navbar{
    margin-bottom:0px;
    padding: 0 16px;
}
.end{
    margin-top: 0;
    background-color: #5f6163;
    height: 80px;
}

.topmargin{
  margin-top: 80px;
}

.textBox{
  display: none;
  background: linear-gradient(rgb(255, 166, 1),rgb(160, 185, 17));
  opacity: 1;
}

a{
  color: black;
}

.osGreen{
  background: #77b142;
}

.osOrange{
  background:#f37641; 
}

.osYellow{
  background:#f4d016; 
}

.osGradient{
  background: linear-gradient(#77b142,#f37641,#f4d016);
}